.contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.contact h2{
font-size: 25px;
}

.callPshychologist {
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 110px;
  background: #66d086;
  border-color: #66d086;
  text-decoration: none;
}

.callPshychologist:hover {
  background-color: #64ba7e;
}

@media (max-width: 1100px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact h2 {
    font-size: 30px;
    text-align: center;
  }

  .callPshychologist {
    height: max-content;
    width: 140px;
    font-size: 25px;
    margin-right: 30px;
  }
}


@media (max-width: 600px) {
  .contact {
    flex-direction: column;
    justify-content: center;
  }

  .contact h2 {
    font-size: 19px;
    text-align: center;
  }

  .callPshychologist {
    font-size: 20px;
    width: 110px;
    margin-right: 19px;
  }
}