.contMain{
  display: flex;
  width: 9100%5%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .contMain{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .contMain{
    width: 100%;
    height: 100%;
  }
}