.contAppointments {
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  position: absolute;
}

.Appointments {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #f0eeee;
}

.schedule {
  font-size: 20px;
  margin: 1%;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 180px;
  background: #66d086;
  border: 0;
	color: #ffffff; 
	letter-spacing: 2px; 
	padding: 18px 30px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
}

.schedule:hover {
  background-color: #64ba7e;
}

.contNextAppointments {
  position: absolute;
  display: flex;
  height: 95%;
  width: 45%;
  justify-content: flex-start;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.gridNextAppointments {
  display: grid;
  grid-auto-rows: 25%;
  overflow: auto;
  grid-gap: 10px;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  width: 100%;
}

.notAppointment {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.notAppointment p {
  font-size: 25px;
  color: gray;
}

@media (max-width:1300px) {
  .contAppointments {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    z-index: -1;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .Appointments {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
  }

  .schedule {
    position: absolute;
  }

  .contNextAppointments {
    position: absolute;
    display: flex;
    height: 45%;
    width: 90%;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 30px;
  }

  .gridNextAppointments {
    display: grid;
    grid-auto-rows: 45%;
    overflow: auto;
    grid-gap: 10px;
    background-color: white;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
  }
}

@media (max-width:600px) {
  .contAppointments {
    display: flex;
    width: 100%;
    margin-left: 0px;
    height: 100%;
    flex-direction: column-reverse;
    }

  .Appointments {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
  }

  .contNextAppointments {
    position: absolute;
    display: flex;
    height: 50%;
    width: 90%;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    margin-left: 0;
  }

  .gridNextAppointments {
    display: grid;
    grid-auto-rows: 45%;
    overflow: auto;
    grid-gap: 10px;
    background-color: white;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
  }

  .schedule {
    position: absolute;
    font-size: 20px;
    margin: 15%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    background: #66d086;
    border: 0;
    color: #ffffff; 
    letter-spacing: 2px; 
    padding: 18px 30px; 
    bottom: 40px;
    right: -9%;
  }
}