.optionsAside {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

.linkNav {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 25px;
  margin: 7px;
  font-weight: bold;
}

.btnEmergency {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: #fe6272;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: 2px #000000 solid;
  transform: translate(56%, -1%);
}

.btnEmergency:hover {
  background-color: #ce3b4a;
}

@media (max-width: 1300px) {
  .linkNav {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
  }

  .btnEmergency {
    width: 120px;
    height: 120px;
    font-size: 30px;
    transform: translate(48%, 45%);
  }

  .optionsAside {
    margin-top: -80px;
  }
}

@media (max-width: 700px) {
  .linkNav {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
  }

  .btnEmergency {
    height: 80px;
    width: 80px;
    font-size: 25px;
    transform: translate(58%, 15%);
  }
}