.modalOpen{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.modalClose{
  display: none;
}

.backModal{
  display: flex;
  position: absolute;
  background-color: #f0eeee;
  height: 100%;
  width: 100%;
  opacity: .9;
}


.contModal{
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: max-content;
  width: 45%;
  border: 3px #b2b9ba solid;
  border-radius: 5px;
}
.contact{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}
.llamarPsicologo{
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius:5px;
  width: 130px;
  background: #66d086;
  border-color: #66d086;
}
.llamarPsicologo:hover{
  background-color: #64ba7e;
}

.closeModal{
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius:5px;
  width: 130px;
  background: #fe6272;
  border-color: #fe6272;
}

.closeModal:hover{
  background-color: #e24f5e;
}


@media (max-width: 1100px ) {
  .contModal{
    width: 95%;
  }

  .contModal h1{
    font-size: 40px;
  }

 
  .closeModal{
    height: max-content;
    width: 150px;
    font-size: 25px;
  }
}

@media (max-width: 600px ) {
  .contModal{
    width: 90%;
  }

  .contModal h1{
    font-size: 25px;
  }

.contact{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2{
  font-size: 20px;
  text-align: center;
}
.closeModal{
  height: max-content;
  width: 120px;
  font-size: 20px;
}
}