.modalOpen {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalClose {
  display: none;
}

.backModal {
  display: flex;
  position: fixed;
  background-color: #b2b9ba;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.contModal {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: max-content;
  width: 45%;
  border: 3px #b2b9ba solid;
  border-radius: 5px;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}

.closeModal {
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  background: #fe6272;
  border: 0;
}

.closeModal:hover {
  background-color: #e24f5e;
}

.contModal h1 {
  font-size: 30px;
}

@media (max-width: 1100px) {
  .contModal {
    width: 95%;
  }

  .contModal h1 {
    font-size: 40px;
  }

  .closeModal {
    height: max-content;
    width: 160px;
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .contModal {
    width: 90%;
  }

  .contModal h1 {
    font-size: 25px;
  }

  .contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact h2 {
    font-size: 20px;
    text-align: center;
  }

  .closeModal {
    height: max-content;
    width: 130px;
    font-size: 20px;
  }
}