.contHome{
  display: block;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bodyHome{
  display: flex;
  height: 91%;
  justify-content: center;
  align-items: flex-end;
  background-image: url('../../assets/terapia.jpg');
  background-repeat:round;
  background-size: cover;
}

.agendar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  height: 6%;
  padding: 10px;
  border-radius:5px;
  width: 130px;
  background: #66d086;
  border: 0;
}

.agendar:hover{
  background-color: #64ba7e;
  }

.modalOpen{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.modalClose{
  display: none;
}

.contact{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}
.llamarPsicologo{
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius:5px;
  width: 130px;
  background: #66d086;
  border-color: #66d086;
}
.llamarPsicologo:hover{
  background-color: #64ba7e;
}

@media (max-width: 1100px ) {
  .bodyHome{
    height: 91%;
    background-image: url('../../assets/terapia2.jpg');
    background-repeat:space;
    background-size: cover;
  }

  .agendar{
    font-size: 30px;
    width: 140px;
    height: 50px;
    margin-bottom: 80px;
  }
  .contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact h2{
    font-size: 30px;
    text-align: center;
  }
  .llamarPsicologo{
  height: max-content;
  width: 150px;
  font-size: 25px;
  margin-right: 19px;
  }
 
}

@media (max-width: 600px ) {
  .agendar{
    font-size: 30px;
    padding: 10px;
    margin: 10%;
    width: 140px;
    height: 50px;
    margin-bottom: 80px;
  }

  .contModal{
    height: 40%;
    width: 90%;
  }

  .contModal h1{
    font-size: 25px;
  }

  .contact{
  flex-direction: column;
  justify-content: center;
  }

  .contact h2{
  font-size: 20px;
  text-align: center;
  }
.llamarPsicologo{
  font-size: 20px;
  width: 120px;
}

}