.data {
    display: flex;
    width: 95%;
    flex-direction: column;
}

.dataAppointment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.data h2 {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-around;
}

.form p {
    font-size: 20px;
    width: 15%;
    text-align: justify;
    font-weight: bold;
}

.inputName {
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    text-decoration: none;
    border: black 2px solid;
    align-self: center;
    text-align: center;
}

.inputDate {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    align-self: center;
}

.inputHour {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    align-self: center;
}

.btnAdd {
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background: #66d086;
    border: 0;
    width: 20%;
    align-self: center;
    height: 45px;
}

.btnAdd:hover {
    background-color: #64ba7e;
}

@media (max-width: 1100px) {
    .data {
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .data h2 {
        font-size: 30px;
        text-align: center;
    }

    .dataAppointment {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .form {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
        justify-content: space-around;
    }

    .form p {
        font-size: 20px;
        width: 15%;
        text-align: justify;
        font-weight: bold;
    }

    .inputName {
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        width: 80%;
        text-decoration: none;
        border: black 2px solid;
        align-self: center;
        text-align: center;
    }
    
    .inputDate {
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        width: 80%;
        height: 40px;
        align-self: center;
    }
    
    .inputHour {
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        width: 80%;
        height: 40px;
        align-self: center;
    }
    
    .btnAdd {
        color: white;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        background: #66d086;
        border: 0;
        width: 28%;
        align-self: center;
        height: 48px;
    }
}

@media (max-width: 600px) {
    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .data h2 {
        font-size: 30px;
        text-align: center;
    }

    .dataAppointment {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .form {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
        justify-content: space-around;
    }

    .form p {
        font-size: 20px;
        width: 15%;
        text-align: justify;
        font-weight: bold;
    }

    .inputName {
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        width: 60%;
        text-decoration: none;
        border: black 2px solid;
        align-self: center;
        text-align: center;
    }
    
    .inputDate {
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        width: 60%;
        height: 40px;
        align-self: center;
    }
    
    .inputHour {
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        width: 60%;
        height: 40px;
        align-self: center;
    }
    
    .btnAdd {
        color: white;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        background: #66d086;
        border: 0;
        width: 35%;
        align-self: center;
        height: 45px;
    }
}