.data {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.data h2 {
    font-size: 30px;
    left: 100%;
    width: 70%;
}

.btnAutocomplete {
    margin-left: -38%;
    width: 123%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.inputDate {
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
    width: 91%;
    height: 100%;
    text-decoration: none;
}

.inputHour {
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
    width: 91%;
    height: 100%;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20%;
}

.form p {
    font-size: 150%;
    margin-left: -35%;
}

.btnAdd {
    color: white;
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    background: #66d086;
    border: 0;
    flex-direction: row;
    margin-left: 34%;
}

.btnAdd:hover {
    background-color: #64ba7e;
}

.suggestion {
    list-style-type: none;
    list-style: none;
    background: #cac7c7;
    padding: 5px;
    width: 150px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 10px;
    font-size: 18px;
}

@media (max-width: 1100px) {
    .data {
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .data h2 {
        font-size: 30px;
        text-align: center;
    }

    .btnAutocomplete {
        margin-left: -42%;
        width: 127%;
    }

    .inputDate {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 95%;
        text-decoration: none;
    }

    .inputHour {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 95%;
        text-decoration: none;
    }

    .form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .form p {
        font-size: 150%;
        margin-left: -35%;
    }

    .btnAdd {
        height: max-content;
        width: 40%;
        font-size: 25px;
        margin: 0;
        margin-left: 30%;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .dataAppointment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .form h2 {
        font-size: 20px;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .btnAutocomplete {
        border-radius: 5px;
        width: 160%;
        margin-left: -70px;
        margin-top: 10px;
    }

    .inputDate {
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        width: 90%;
        margin: 0;
        margin-top: 5px;
    }

    .inputHour {
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
        width: 90%;
        margin: 0;
        margin-top: 5px;

    }

    .form p {
        font-size: 23px;
        margin: 0;
        margin-top: 10px;
    }

    .btnAdd {
        width: 32%;
        font-size: 20px;
        margin-left: 13px;
        align-self: center;
    }
}