.data {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.data h2 {
    font-size: 30px;
    left: 100%;
    width: 70%;
}

.form {
    display: flex;
    flex-direction: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20%;
}

.form p {
    font-size: 150%;
    margin-left: -45%;
}

.inputName {
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
    min-width: 104%;
    text-decoration: none;
    margin-left: 3%;
}

.inputDate {
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
    width: 91%;
    height: 100%;
    text-decoration: none;
}

.inputHour {
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
    width: 91%;
    height: 100%;
    text-decoration: none;
}

.btnAdd {
    color: white;
    font-size: 20px;
    margin: 5%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    background: #66d086;
    border: 0;
    flex-direction: row;
    margin-left: 27%;
}

.btnAdd:hover {
    background-color: #64ba7e;
}

@media (max-width: 1100px) {
    .data {
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .data h2 {
        font-size: 30px;
        text-align: center;
    }

    .inputName {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        min-width: 110%;
        text-decoration: none;
        margin-left: 4.5%;
    }

    .inputDate {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 95%;
        text-decoration: none;
    }

    .inputHour {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 95%;
        text-decoration: none;
    }

    .form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .form p {
        font-size: 150%;
        margin-left: -50%;
    }

    .btnAdd {
        height: max-content;
        width: 142px;
        font-size: 25px;
        margin-left: 24%;
    }
}

@media (max-width: 600px) {
    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form p {
        font-size: 20px;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .inputName {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        width: 135%;
        height: 100%;
        text-decoration: none;
        margin-left: -34%;
    }

    .inputDate {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        width: 115%;
        text-decoration: none;
        margin-left: -34%;
    }

    .inputHour {
        font-size: 20px;
        margin: 5%;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        width: 115%;
        text-decoration: none;
        margin-left: -34%;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .form p {
        font-size: 150%;
        margin-left: -35%;
    }

    .btnAdd {
        height: max-content;
        width: 115px;
        font-size: 20px;
        margin-left: 23%;
    }
}