.contAddPatients {
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: 20%;
    position: absolute;
}

.AddPatients {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f0eeee;
}

@media (max-width:1200px) {
    .contAddPatients {
        display: flex;
        width: 100%;
        height: 100%;
        margin-left: 0%;
        flex-direction: column-reverse;
        z-index: -1;
    }

    .AddPatients {
        position: absolute;
        display: flex;
        width: 100%;
        height: 90%;
    }
}