.contAddPatients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 20%;
    position: absolute;
}

.AddPatients {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f0eeee;
}

.boxAddPatients {
    display: flex;
    height: 95%;
    width: 65%;
    flex-direction: column;
    align-items: center;
    margin-left: -300px;
}

.gridAddPatients {
    display: grid;
    grid-auto-rows: 20%;
    overflow: auto;
    grid-gap: 10px;
    background-color: white;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    height: 100%;
    width: 100%;
}

.dataAddPatients {
    display: flex;
    max-width: 100%;
    height: 58%;
    background-color: white;
    margin: 5px;
    align-items: flex-start;
    justify-content: space-between;
}

.dataAddPatients p {
    font-size: 150%;
    margin-left: 2%;
    height: 30%;
}

.inputAddPatients {
    border-radius: 5px;
    color: #393939;
    padding: 10px;
    width: 65%;
    height: 30%;
}

.btnAdd {
    color: white;
    font-size: 20px;
    margin: 1%;
    cursor: pointer;
    padding: 6px;
    width: 10%;
    height: 100%;
    background: #66d086;
    border: 0;
    flex-direction: row;
    margin-right: -30%;
}

.btnAdd:hover {
    background-color: #64ba7e;
}

@media (max-width:1200px) {
    .contAddPatients {
        display: flex;
        width: 100%;
        height: 100%;
        margin-left: 0%;
        flex-direction: column-reverse;
        z-index: -1;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .AddPatients {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #f0eeee;
    }

    .boxAddPatients {
        display: flex;
        height: 65%;
        width: 90%;
        align-self: flex-start;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }

    .gridAddPatients {
        display: grid;
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .dataAddPatients {
        display: flex;
        max-width: 100%;
        height: 57%;
        background-color: white;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin: 5px;
        align-items: center;
        justify-content: center;
    }

    .dataAddPatients p {
        font-size: 130%;
        height: 25%;
        width: 30%;
        margin-left: 2%;
    }

    .inputAddPatients {
        border-radius: 5px;
        color: #393939;
        padding: 10px;
        width: 65%;
        height: 30%;
    }

    .btnAdd {
        color: white;
        font-size: 20px;
        margin: 6%;
        width: 20%;
        height: 5%;
        background: #66d086;
        border: 0;
        flex-direction: row;
        margin-right: -65%;
    }
}

@media (max-width:600px) {
    .contAddPatients {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .AddPatients {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #f0eeee;
    }

    .boxAddPatients {
        display: flex;
        height: 70%;
        width: 90%;
        align-self: flex-start;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
    }

    .gridAddPatients {
        display: grid;
        background-color: white;
        height: 90%;
        width: 95%;
        left: 50%;
    }

    .gridAddPatients p {
        font-size: 110%;
        margin-left: 0%;
        height: 55%;
        width: 30%;
    }

    .btnAdd {
        color: white;
        font-size: 20px;
        margin: 6%;
        width: 35%;
        height: 5%;
        background: #66d086;
        border: 0;
        flex-direction: row;
        margin-right: 10%;
    }
}