.contPatients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  position: absolute;
}

.Patients {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f0eeee;
}

.contNextPatients {
  display: flex;
  height: 95%;
  width: 65%;
  flex-direction: column;
  align-items: center;
  margin-left: -300px;
}

.contNextPatients h1 {
  margin-left: 0%;
}

.gridNextPatients {
  display: grid;
  grid-auto-rows: 25%;
  overflow: auto;
  grid-gap: 10px;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  height: 100%;
  width: 130%;
  margin-left: 40%;
}

.notPatients {
  display: flex;
  max-width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  margin: 17px;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 45%;
}

.notPatients p {
  font-size: 180%;
  margin-left: 2%;
}

.btnDetails {
  color: white;
  font-size: 20px;
  margin: 5%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  background: #66d086;
  border: 0;
  margin-right: 0%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.btnDetails:hover {
  background-color: #64ba7e;
}

.btnAdd {
  color: white;
  font-size: 20px;
  margin: 5%;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  width: 80%;
  height: 100%;
  background: #66d086;
  border: 0;
  flex-direction: row;
  margin-right: -400%;
}

.btnAdd:hover {
  background-color: #64ba7e;
}

.loaderContainer {
  display: flex;
  width:100%;
  height: 78%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  align-items: center;
  justify-content: center;
}

@media (max-width:1200px) {
  .contPatients {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    flex-direction: column-reverse;
    z-index: -1;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .Patients {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0eeee;
  }

  .contNextPatients {
    display: flex;
    height: 65%;
    width: 90%;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .gridNextPatients {
    display: grid;
    height: 100%;
    background-color: white;
  }

  .notPatients {
    display: flex;
    max-width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    margin: 17px;
    align-items: center;
    justify-content: center;
  }

  .notPatients p {
    font-size: 150%;
    height: 65%;
    width: 600%;
    margin-left: 2%;
  }

  .btnDetails {
    color: white;
    font-size: 20px;
    margin: 5%;
    text-align: center;
    padding: 12%;
    border-radius: 5px;
    width: 150%;
    background: #66d086;
    flex-direction: row;
    margin-left: -45%;
  }

  .btnAdd {
    color: white;
    font-size: 20px;
    margin: 2%;
    width: 23%;
    height: 100%;
    background: #66d086;
    border: 0;
    flex-direction: row;
    margin-right: -66%;
  }
}

@media (max-width:600px) {
  .contPatients {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .Patients {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0eeee;
  }

  .contNextPatients {
    display: flex;
    height: 70%;
    width: 90%;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }

  .gridNextPatients {
    display: grid;
    background-color: white;
    height: 90%;
  }

  .notPatients {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .notPatients p {
    font-size: 107%;
    margin-left: 2%;
    height: 100%;
    width: 70%;
  }

  .btnDetails {
    color: white;
    font-size: 20px;
    margin: 5%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    background: #66d086;
    flex-direction: row;
    margin-right: 0%;
  }

  .btnAdd {
    color: white;
    font-size: 20px;
    margin: 3%;
    padding: 5px;
    width: 40%;
    height: 80%;
    background: #66d086;
    border: 0;
    flex-direction: row;
    margin-right: 0%;
  }
}