.contPatients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  position: absolute;
}

.Patients {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F0EEEE;
}

.contNextPatients {
  display: flex;
  height: 95%;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.gridNextPatients {
  display: grid;
  grid-auto-rows: 25%;
  overflow: auto;
  grid-gap: 10px;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  height: 100%;
  width: 100%;
}

.notPatients {
  display: flex;
  max-width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  margin: 17px;
  align-items: flex-start;
  justify-content: space-between;
}

.notPatients p {
  font-size: 180%;
  margin-left: 2%;
}

.btnDetails {
  width: 20%;
  color: white;
  background: #66D086;
  padding: 10px;
  margin: 3%;
  margin-right: 2%;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.btnDetails:hover {
  background-color: #64BA7E;
}

.btnAdd {
  width: 13%;
  height: 8%;
  font-size: 20px;
  background-color: #66d086;
  border: 0;
  border-radius: 5px;
  color: white;
  margin-top: 2%;
  align-self: flex-end;
  margin-right: 3%;
}

.btnAdd:hover {
  background-color: #64BA7E;
}

.loaderContainer {
  display: flex;
  width: 100%;
  height: 77%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

@media (max-width:1200px) {
  .contPatients {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    flex-direction: column-reverse;
    z-index: -1;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .Patients {
    display: flex;
    position: absolute;
    width: 100%;
    height: 125%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F0EEEE;
  }

  .contNextPatients {
    display: flex;
    height: 65%;
    width: 90%;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }

  .gridNextPatients {
    display: grid;
    height: 100%;
    background-color: white;
  }

  .notPatients {
    display: flex;
    max-width: 100%;
    height: 93%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    margin: 2%;
    align-items: center;
    justify-content: center;
  }

  .notPatients p {
    font-size: 150%;
    height: 65%;
    width: 600%;
    margin-left: 2%;
  }

  .btnDetails {
    width: 200%;
    color: white;
    background: #66D086;
    padding: 10px;
    margin: 3%;
    margin-right: 2%;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .btnAdd {
    width: 23%;
    height: 8%;
    font-size: 20px;
    background-color: #66d086;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-top: 2%;
    align-self: flex-end;
    margin-right: 3%;
  }

  .loaderContainer {
    display: flex;
    width: 100%;
    height: 81%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}

@media (max-width:600px) {
  .contPatients {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .Patients {
    display: flex;
    position: absolute;
    width: 100%;
    height: 108%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F0EEEE;
  }

  .contNextPatients {
    display: flex;
    height: 70%;
    width: 90%;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }

  .contNextPatients h1 {
    font-size: 160%;
  }

  .gridNextPatients {
    display: grid;
    background-color: white;
    height: 90%;
  }

  .notPatients {
    display: flex;
    max-width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .notPatients p {
    font-size: 118%;
    margin-left: 10%;
    height: 100%;
    width: 100%;
  }

  .btnDetails {
    width: 45%;
    color: white;
    background: #66D086;
    padding: 10px;
    margin: 3%;
    margin-right: 2%;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .btnAdd {
    width: 40%;
    height: 8%;
    font-size: 20px;
    background-color: #66d086;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-top: 2%;
    align-self: flex-end;
    margin-right: 30%;
  }

  .loaderContainer {
    display: flex;
    width: 100%;
    height: 84%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #B2B9BA;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}