.contPatients {
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  position: absolute;
}

.Patients {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #f0eeee;
}

.Patients h1 {
  margin: 0;
  margin-bottom: 10px;
}

.gridNextPatients {
  display: grid;
  grid-auto-rows: 20%;
  overflow: auto;
  grid-gap: 10px;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  height: 80%;
  width: 95%;
}

.notPatients {
  display: flex;
  height: 80%;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  align-items: center;
  justify-content: center;
}

.notPatients p {
  font-size: 25px;
  color: gray;
}

.btnDetails:hover {
  background-color: #64BA7E;
}

.btnAdd {
  width: 15%;
  height: 6%;
  font-size: 20px;
  background-color: #66d086;
  border: 0;
  border-radius: 5px;
  color: white;
  margin-top: 2%;
  align-self: flex-end;
  margin-right: 3%;
}

.btnAdd:hover {
  background-color: #64BA7E;
}

.loaderContainer {
  display: flex;
  height: 80%;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  align-items: center;
  justify-content: center;
}

.contCard {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #B2B9BA;
  justify-self: center;
  margin-top: 10px;
}

.contInformation {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.contButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.btnDetails {
  width: 90%;
  height: 40%;
  font-size: 20px;
  background: #66d086;
  border: 0;
  border-radius: 5px;
  color: white;
}

.btnDetails:hover {
  background-color: #64BA7E;
}

.dataCard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.dataCard p {
  font-size: 30px;
  margin: 0;
  margin-left: 20px;
}

@media (max-width:1200px) {
  .contPatients {
    display: flex;
    width: 100%;
    margin-left: 0px;
    height: 100%;
    flex-direction: column-reverse;
    z-index: -1;
  }

  .Patients {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
  }

  .gridNextPatients {
    grid-auto-rows: 18%;
  }

  .notPatients p {
    font-size: 25px;
    color: gray;
  }

  .btnAdd {
    width: 20%;
  }

  .contInformation {
    width: 70%;
  }

  .contButtons {
    width: 30%;
  }

  .dataCard p {
    font-size: 25px;
    margin: 10px;
  }

  .btnDetails {
    width: 90%;
    height: 30%;
  }

  .btnDetails {
    width: 90%;
    height: 30%;
  }
}

@media (max-width:600px) {
  .contPatients {
    display: flex;
    width: 100%;
    margin-left: 0px;
    height: 100%;
    flex-direction: column-reverse;
    background-color: black;
    z-index: -1;
  }

  .Patients {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
  }

  .gridNextPatients {
    grid-auto-rows: 22%;
  }

  .notPatients p {
    font-size: 20px;
    color: gray;
  }

  .btnAdd {
    width: 40%;
    margin-top: 10%;
    align-self: center;
    margin-right: 0;
  }

  .contCard {
    flex-direction: column;
  }

  .contInformation {
    height: 65%;
    width: 100%;
  }

  .contButtons {
    height: 35%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contInformation p {
    font-size: 20px;
  }

  .btnDetails {
    width: 40%;
    height: 90%;
    font-size: 20px;
    margin-bottom: 10px;
  }
}