.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8fe0d1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.contLogo {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 30%;
  justify-content: center;
}

.imgLogo {
  width: 100%;
}

.contform {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 58%;
  justify-content: center;
  margin: 2%;
  background: white;
  width: 40%;
  border: 3px #B2B9BA solid;
  border-radius: 5px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  font-weight: bold;
}

.campo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: max-content;
  height: max-content;
}

.campo h2 {
  font-size: 28px;
}

.contInput {
  width: 80%;
}

.btnUser {
  border-radius: 5px;
  color: #393939;
  font-size: 20px;
  padding: 5px;
  width: 95%;
}

.btnPass {
  border-radius: 5px;
  color: #393939;
  font-size: 20px;
  padding: 5px;
  width: 95%;
}

.btnSend {
  color: white;
  background: #66d086;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  font-size: 20px;
  margin: 5%;
  padding: 5px;
  width: 60%;
}

.btnSend:hover {
  background: #64ba7e;
}

@media screen and (max-width: 1200px) {
  .contform {
    height: max-content;
    width: 70%;
    border: 3px #B2B9BA solid;
    background: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .contForm {
    width: 100%;
  }

  .campo {
    margin: 5px;
    margin-top: 5%;
    width: 100%;
  }

  .contInput {
    width: 90%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
  }

  .input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .btnUser {
    font-size: 25px;
  }

  .btnSend {
    width: 50%;
    height: 40px;
  }

  .imgLogo {
    width: 100%;
  }

  .contLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 10%;
    width: 60%;
    height: max-content;
  }
}


@media screen and (max-width: 600px) {
  .contform {
    height: max-content;
    width: 90%;
    border: 3px #B2B9BA solid;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .campo {
    width: 90%;
  }

  .input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
  }

  .contInput {
    flex-direction: column;
    background-color: white;
    width: 100%;
  }

  .contInput p {
    font-size: 20px;
    margin-left: 3px;
  }

  .btnUser {
    width: 95%;
    margin-left: 2px;
    height: 30px;
  }

  .btnPass {
    width: 95%;
    margin-left: 2px;
    height: 30px;
  }

  .btnSend {
    width: 50%;
    height: 40px;
  }

  .imgLogo {
    width: 100%;
  }

  .contLogo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 10%;
    width: 80%;
    height: 20%;
  }
}

.input.error input {
  border: 5px solid #d23200;
}